<div class="ui grid">
  <h1>New Print</h1>
  <div class="ui left floated">
    <%= render partial: 'prints/partials/print_menu' %>
  </div>
</div>
<div class="ui container">
  <%= render 'form', print: @print %>
</div>
