<div class="map-box section">
  <div class="flow-text">
    <h2>Shop Info</h2>
    <h4>415-876-4444</h4>
    <h4>1767 Waller St. SF, CA 94117</h4>
    <h4>email us at : info@freegoldwatch.com</h4>
  </div>
  <div class="container">
    <%= image_tag('map', class: "responsive-img right") %>
  </div>
</div>

<div class="social-box black section">
  <h2> HERE THAR BE INSTAGRAM!</h2>
</div>
