@import 'semantic-ui';

.admin-style {
  margin: 2%;
  background: #545454;
  color: #161616;
}

.admin-nav-links, .logout-link {
  font-size: 2vw;
}

.admin-nav-links {
  color: #ffffff;
}

.logout-link {
  font-family: 'helsinkiregular';
  color: #161616;
}
