@import 'semantic-ui';

// @media (min-width: 600px) {
  // #admin-menu {
  //   font-size: 30px;
  //   width: 50%;
  // }
// }

.admin-style {
  background: #545454;
  color: #161616;
}

.logout-link {
  font-size: 2vw;
  color: #161616;
}

.print-table-headings {
  font-size: 2.5vw;
  color: #161616;
}

.admin-nav-links {
  font-size: 3vw;
  color: #ffffff;
}
