//*********************//
// home/index.html.erb //
//*********************//

// INFO: Freegoldwatch. uses Helsinki regular for EVERYTHING, including this website.
@font-face {
    font-family: 'helsinkiregular';
    src: font-url(asset-path('fonts/helsinki-webfont.eot'));
    src: font-url(asset-path('fonts/helsinki-webfont.eot?#iefix')) format('embedded-opentype'),
         font-url(asset-path('fonts/helsinki-webfont.woff')) format('woff'),
         font-url(asset-path('fonts/helsinki-webfont.ttf')) format('truetype'),
         font-url(asset-path('fonts/helsinki-webfont.svg#helsinkiregular')) format('svg');
    font-weight: normal;
    font-style: normal;
};

@import 'semantic-ui';


/////////////////////
// Page Layout CSS //
/////////////////////
.item a, #parties .content, .section-header,
.tagline, .box-bottom-text, footer {
  font-family: 'helsinkiregular';
  -webkit-font-smoothing: antialiased;
  color: #161616;
}

body {
  margin: 0em;
  a, i {
    color: #161616;
    text-decoration: none;
    :hover {
      color: coral;
    }
  }
}

a, p, span {
  font-size: 1.25em;
}

.mobile-head {
  padding: 0% 3%;
}

.section-header {
  padding-left: 2%;
  font-size: 2.5em;
}

.content-box {
  padding: 2%;
}

.logo-box {
  padding: 0% 1%;
}

.box-bottom-text {
  margin-top: 2.5%;
  float: right;
  text-align: right;
}

.tagline, .foot-cap {
  background: #161616;
  min-height: 35px;
}


/////////////////////////////////////
// Page Header, Logo, & Navigation //
/////////////////////////////////////
header {
  top: 0px;
  z-index: 3;
  width: 100%;
  display: block;
  position: fixed;
  background-color: #fff;

  .tagline p {
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    margin: 0% 2.75%;
  }
  // Removes some default Semantic UI styling
  .ui.text.menu, .full-name, .initials {
    margin: 0em;
  }

  .logo {
    font-family: 'helsinkiregular';
    color: #ffffff;
    font-size: 5em;
    text-shadow: -2px 0 #161616, 0 3px #161616, 5px 0 #161616, 0 -2px #161616;
  }
}


//////////////////////////
// Parallax Backgrounds //
//////////////////////////
// Sources //
#bg-one {
  background-image: url('full_screen_1.jpg');
}
#bg-two {
  background-image: url('full_screen_4.jpg');
}
#bg-three {
  background-image: url('full_screen_2.jpg');
}
#bg-four {
  background-image: url('full_screen_3.jpg');
}
#bg-five {
  background-image: url('full_screen_5.jpg');
}

.bg-holder {
  z-index: -1;
  position: static;
  top: 0;
  left: 0;
  height: 65vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


/////////////////////////////////////
// Media Queries & Mobile Settings //
/////////////////////////////////////
@media (min-width: 1060px) {

}
// INFO: Sets size of the first background @ 100vh on displays > 720px.
@media (min-width: 769px) {
  #bg-one {
    height: 100vh;
  }
  .initials {
    display: none;
  }
}
// INFO: Resets background props & sizes, as well as
// other CSS, for mobile displays.
@media (max-width: 768px) {
  #bg-one {
    height: 70vh;
  }
  .bg-holder {
    height: 50vh;
  }
  .full-name {
    display: none;
  }
}


///////////////////
// Content Boxes //
///////////////////

// Arcade Box //
.pin-list {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}

.pin-list li {
  font-family: sans-serif;
  font-size: .8em;
  line-height: 15px;
  padding: 3px;
}

.pin-box a {
  color: #161616;
  text-decoration: none;
  :hover {
    color: coral;
  }
}

// Print Box //
.print-order-form {
  display: none;
}

.new-print-btn {
  background-color: #161616;
  color: #ffffff;
}

// Parties Box //
#parties i:hover {
  color: #777777;
  text-shadow: 2px 2px #161616;
}

// Social Box //
.sfpd_logo:hover {
  background-color: black;
}


////////////
// Footer //
////////////
footer {
  background-color: #777777;
  i:hover {
    color: #545454;
  }
  .hours-extra-text {
    margin-top: 2%;
  }
}
