// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//*********************//
// Home Layout Styling //
//*********************//

.fgw-header-box {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
}

.fgw-header {
  background-color: white;
  padding: 10px;
  display: table;
  width: 100%;
  table-layout: relative;
}

.fgw-logo {
  display: table-cell;
  vertical-align: top;
}

.fgw-logo img {
  max-width: 75%;
  height: auto;
}

//************//
// index.html //
//************//

// Shop Info Box
.shop-info-box {
  margin-top: 22%;
  overflow: scroll;
}

.shop-info i {
  color: #161616;
  margin-top: 15px;
  margin-left: 80px;
}

.shop-info i:hover, .print-box i {
  color: #545454
}

.shop-map {
  display: inline-block;
  max-width: 70%;
}

// Home Arcade Box
.pin-list {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
} // controls pin list wrapping

.pin-list li {
  padding: 2px;
}

.pin-box a {
  color: white;
  text-decoration: none;
}

.pin-box, .print-box {
  background-color: #161616;
  color: white;
  padding: 30px;
  text-decoration: none;
}

// Home Social Box
.insta-img-row {
  float: right;
  display: inline-block;
}

.insta-img-row img {
  padding: 2px;
  border-radius: 10px;
}

.sfpd_logo {
  float: left;
  width: 200px;
}

// Home Print Box
.new-print-btn {
  background-color: #fff;
  margin-right: 75px;
  margin-top: 175px;
  float: right;
  color: #161616;
}

.new-print-btn:hover {
  background-color: #000;
  color: #ffffff;
}

// Footer
footer {
  height: 200px;
}
