// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.floor-machine, .database-machine {
  padding: 3px;
}

.floor-machine i {
  color: red;
}
.database-machine i {
  color: green;
}

.floor-machine i:hover, .database-machine i:hover {
  color: black;
}
