<!DOCTYPE html>
<html>
  <head>
    <title>FreeGoldWatch</title>
    <link rel="stylesheet" href="helsinki_regular_macroman/stylesheet.css" type="text/css" charset="utf-8" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="admin-style">
    <h1 class="admin-head">FGW</h1>
    <!-- Dashboard Viewport -->
    <%= yield %>
  </div>
    <footer class="center">wilbur 2017</footer>
  </body>
</html>
